# Ignore artifacts:
build
coverage
dist
.next

node_modules

.github
.husky
.storybook
.vscode
.eslintignore.babelrc

.eslintrc.js
.gitignore
.prettierignore
.prettierrc.json
LICENSE
package.json
README.md
renovate.json
tsconfig.build.json
yarn.lock